* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  /* border: 2px solid black; */
  /* width: 100vw; */
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
.pop-up {
  /* border: 1px solid red; */
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(1px);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* display: none; */
}
.welcome-message {
  /* border: 1px solid green; */
  border-radius: 20px;
  width: 65vw;
  /* height: 35vh; */
  color: #332525;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  gap: 20px;
  font-family: "Dancing Script", cursive;
}
.welcome {
  font-weight: bold;
  /* color: #550000; */
}
.msg {
  line-height: 25px;
}
.wlcm-btn {
  width: 50px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 3px;
  background-color: #1212ffcc;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.wrapper {
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
  /* width: 100%; */
}
.top {
  display: flex;
  /* height: 10%; */
  justify-content: space-between;
  align-items: center;
  /* gap: 20%; */
  /* width: 100vw; */
  padding: 15px;
}
.top .left {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px;
}
.top .left a {
  color: black;
  /* visibility: hidden; */
  display: none;
}
.top h3 {
  font-size: 3rem;
  font-family: "Dancing Script", cursive;
  text-decoration: underline;
}
#search {
  width: 400px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
}
.sign .reg {
  text-decoration: none;
  color: black;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 8px;
  border-radius: 10px;
}
.sign .reg:hover {
  box-shadow: 0 2.5px 5px black;
  /* scale: 5m; */
}
.navBar {
  display: flex;
  /* gap: 20px; */
  background-color: rgb(38, 33, 33);
  width: 95%;
  margin: 10px auto;
  border-radius: 10px;
}
.navBar nav {
  display: flex;
  justify-content: center;
  padding: 10px;
  width: 100%;
}
.i-1 {
  display: none;
}
.navBar ul {
  width: 500px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  /* gap: 30px; */
}
nav a {
  text-decoration: none;
  color: white;
}
.mainSection {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
section {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  padding: 10px;
  justify-content: space-around;
  /* height: 50vh; */
}
.text {
  font-size: 2rem;
}
section h2 {
  font-family: "Kalnia Glaze", serif;
  text-shadow: 0 2.5px 5px BLACK;

  /* text-align: center; */
}
.fashionImg {
  width: 40vw;
  /* height: 200px; */
  /* border: 1px solid black; */
  /* background-color: rgb(14, 80, 102); */
}
.fashionImg img {
  width: 100%;
}
.products {
  display: flex;
  padding: 15px;
}
aside {
  width: 30vw;
  /* height: 50vh; */
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* justify-content: space-between; */
  padding: 15px;
}
aside button {
  text-decoration: none;
  border: none;
  border-radius: 10px;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  padding: 8px;
  /* line-height: 35px; */
  box-shadow: 0 2.5px 5px black;
}
aside button:hover {
  /* color: rgb(217, 192, 192); */
  /* background-color: rgb(107, 82, 82); */
  background-color: wheat;
  color: rgb(56, 50, 50);
}
.itemView {
  padding: 20px;
  width: 65vw;
  /* border: 1px solid rgb(75, 69, 69); */
  border-radius: 15px;
  /* background-color: white; */
  box-shadow: 0 2.5px 5px black;
}
.clothing,
.bags,
.shoes,
.accessories {
  /* visibility: hidden; */
  display: none;
  height: 50vh;
  overflow: auto;
}
.item1,
.item2 {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  /* gap: 10px; */
}
.item1 img,
.item2 img {
  width: 70%;
}
.item1 p,
.item2 p {
  font-weight: bold;
}
.arrangement {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 30%;
}
.arrangement a {
  padding: 15px;
  color: rgb(46, 41, 41);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  text-align: center;
}
.arrangement a:hover {
  /* padding: 20px; */
  box-shadow: 0 2.5px 5px black;
  scale: 1.2;
}
.specifications {
  /* border: 1px solid rgb(75, 69, 69); */
  height: 30vh;
  margin: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* box-shadow: 0 2.5px 5px black; */
  /* width: 65vw; */
  border-radius: 15px;
}
.specifications h4 {
  border-bottom: 1px solid black;
  padding: 5px;
}
footer {
  display: flex;
  flex-direction: column;
  padding: 30px 60px;
  gap: 15px;
  background-color: black;
  /* text-align: center; */
  /* align-items: center; */
}
footer h3 {
  color: rgb(225, 167, 20);
}
.note {
  line-height: 1.5rem;
  color: rgba(245, 245, 245, 0.587);
  font-size: 14px;
}
footer div {
  display: flex;
  gap: 20px;
  justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
}
footer a {
  color: #dddddd;
  text-decoration: none;
}
.last {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  font-size: 11px;
  letter-spacing: 1px;
}
.navBar nav button {
  display: none;
}
.right {
  display: none;
}
.scroll-stop {
  height: 100vh;
  overflow: hidden;
}

@media (max-width: 850px) {
  .container {
    /* background-color: red; */
  }
  .top {
    display: flex;
    /* justify-content: space-between; */
    gap: 100px;
  }
  .top h3 {
    font-size: 2rem;
  }
  .search {
    /* visibility: visible; */
    width: 195xpx;
  }
  #search {
    width: 100%;
  }
  .sign a {
    font-size: 14px;
  }
  aside {
    gap: 0;
    justify-content: space-between;
  }
  aside button {
    font-size: 25px;
    padding: 5px;
  }
  .text {
    font-size: 25px;
  }
  .itemView {
    height: 34vw;
    overflow: hidden;
  }
}
@media (max-width: 770px) {
  section {
    flex-direction: column;
    padding: 40px;
    justify-content: center;
    gap: 25px;
  }
  .text {
    font-size: 33px;
  }
  .fashionImg {
    width: 100%;
  }
}
@media (max-width: 650px) {
  .top {
    border-bottom: 1px solid black;
  }
  .top .left a {
    display: block;
  }
  .right {
    display: flex;
    align-items: center;
  }
  .right a {
    padding: 10px;
    color: black;
  }
  .fa-magnifying-glass {
    display: none;
  }
  .reg {
    display: none;
  }
  .navBar {
    /* display: none; */
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.527);
    backdrop-filter: blur(1px);
    border-radius: 0;
    position: fixed;
    top: 0;
    left: -700px;
    margin: 0;
    align-items: flex-start;
  }
  .navBar .nav {
    background-color: rgb(45 46 49);
    width: 60vw;
    height: 100vh;
    flex-direction: column;
    gap: 25px;
    align-items: flex-end;
    justify-content: flex-start;
    position: fixed;
    left: -295px;
    transition: 1.5s;
  }
  .navBar .nav div {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .navBar .nav button {
    display: block;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    background-color: transparent;
    color: white;
    border: none;
  }
  .navBar .nav ul {
    flex-direction: column;
    width: 100%;
    gap: 20px;
  }
  .navBar .nav ul a {
    border: 1px solid white;
    padding: 10px;
    text-align: center;
  }
  .search {
    /* visibility: hidden; */
  }
  .mainSection {
    gap: 0px;
  }
  section {
    flex-direction: column;
    gap: 15px;
    height: fit-content;
    padding: 2rem;
  }
  section h2 {
    font-size: 2rem;
  }
  .fashionImg {
    width: 100%;
  }
  .products {
    /* display: block; */
    flex-direction: column;
    /* gap: 20px; */
  }
  .item1,
  .item2 {
    flex-direction: column;
    align-items: center;
  }
  .clothing,
  .bags,
  .shoes,
  .accessories {
    height: 100%;
  }
  .arrangement {
    width: 200px;
  }
  aside {
    height: fit-content;
    width: 100%;
    flex-direction: row;
    /* display: flex; */
    /* flex-direction: inherit; */
  }
  aside button {
    font-size: 20px;
    line-height: normal;
    border-radius: 0;
    box-shadow: 0 1.5px 2px #a19393;
  }
  .itemView {
    width: 100%;
  }
  .specifications {
    border: none;
    height: fit-content;
  }
  /* #toggle{} */
}
@media (max-width: 430px) {
  .top {
    gap: 0;
  }
  .top h3 {
    font-size: 27px;
  }
  .navBar {
  }
  .i-1 {
    display: block;
  }
  .search {
    visibility: hidden;
  }
  .text {
    font-size: 17px;
  }
  aside button {
    font-size: 14px;
  }
  .itemView {
    height: 30vh;
  }
  .arrangement a {
    font-size: small;
    gap: 10px;
  }
  .specifications {
    font-size: 14px;
  }
  .specifications p {
    font-size: small;
    line-height: 1.2rem;
  }
  footer {
    padding: 20px;
  }
  footer h3 {
    font-size: 1rem;
    line-height: 25px;
  }
  .note {
    font-size: small;
  }
  .welcome-message {
    font-size: small;
  }
  .welcome-message p {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
}

/* form section */

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(220, 220, 103);
  height: 100vh;
}
form {
  background-color: white;
  box-shadow: 0 2.5px 5px black;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px;
  justify-content: center;
  margin: 25px;
}
.header {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header small {
  text-align: center;
  color: black;
  padding: 10px;
  background-color: #4ed844;
  font-size: 1rem;
  display: none;
}
.header h1 {
  text-align: center;
  color: rgb(90, 83, 83);
}
div.space {
  display: flex;
  flex-direction: column;
}
input {
  border: none;
  border-bottom: 1px solid black;
  outline: none;
}
.empty {
  color: red;
  visibility: hidden;
}
.submitbtn {
  display: flex;
  justify-content: center;
}
.submitbtn button {
  background-color: rgb(167, 154, 154);
  color: white;
  font-weight: bold;
  width: 100px;
  padding: 5px;
  border: none;
  border-radius: 5px;
}
form p {
  font-size: 14px;
}
.invalid {
  border-bottom: 2px solid red;
}
.valid {
  border-bottom: 2px solid rgb(170, 235, 72);
}
